name: Windows Compile

env:
  CONFIG: "Release"

on:
 push:
   branches:
     - main
     - 'version-**'
   tags: "*"
 pull_request:
 workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build-cmake:
    name: CMake

    strategy:
      fail-fast: false
      matrix:
        os: ['windows-2022']

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5
      with:
        # required for `git describe --tags` to work
        fetch-depth: 0

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python.exe -m pip install --upgrade pip
        python.exe -m pip install --upgrade conan

    - name: Build
      run: |
        ./build.ps1

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Binaries
        path: output\lib\${{env.CONFIG}}\*
        if-no-files-found: error
        retention-days: 30
